.sidebar {
  height: 100vh !important;
}


.nav .nav-item {
  padding: 5px;
  float: none;
  width: 100%;
}

.nav .nav-item a.nav-link {
  color: #0f0f0f;
  font-weight: 500;
}

.nav-item a.nav-link.active {
  background: #217cfd;
  color: white;
}

.nav-item nav-link.active {
  background: #217cfd;
  color: white;
}

.nav-item .nav-link.active span {
  color: white;
}


.nav .nav-item button.nav-link {
  color: #0f0f0f;
  font-weight: 500;
}

@media (max-width: 767px) {


  .nav .nav-item span {
    display: none;
  }

  .nav .nav-item {
    float: left;
    width: auto;
  }

  .nav li.nav-item a.nav-link {
    padding: 9px 13px 10px 13px !important;
  }

  .sidebar {
    height: auto !important;
  }
}