#root{
  font: inherit;
  margin:0;
  padding:0;
  background: #f2f5fc;
  color:#0f0f0f;
  display: block;
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
}
p, h1, h2,h3,h4, h5, span{
  margin: 0 !important;
  padding: 0 !important;
  color:#0f0f0f;
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
}
label.form-label{
  margin: 0;
  padding: 0;
}

button.btn, a.btn{
  background: #1837fd;
  background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  color: white;
  border: 0px;
}

button.btn:hover, a.btn:hover{
  background: linear-gradient(290deg, rgb(33, 82, 255), rgb(33, 212, 253));
  color:#ffffff;
}

.company{
  font-size: 11px;
  color: #838383;
}
input.form-control, select.form-control{
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  border-width: 1px;
  border-image: initial;
  border-style: solid;
  border-color: rgb(244, 247, 254);
  padding: 10px 20px;
}

.search{
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
input.nav{
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  border-width: 1px;
  border-image: initial;
  border-style: solid;
  border-color: rgb(244, 247, 254);
  padding: 5px 20px;
  height: 40px;
}

input.form-control:focus {
  box-shadow: none;
  outline: 0px;
  border: 1px solid #2187fc;
}
input[type='checkbox']{
  margin: 0;
  position: relative;
}

.qrcode{
  padding: .25rem;
  max-width: 100%;
  height: auto;
  font-size: 25px;
  line-height: 25px;
  /*padding: 0;*/
  margin: 0;
}

.logo{
  font-size: 40px;
  position: absolute;
  top:10px;
  left: 0;
  color:#0f0f0f;
}
.logo b{
  font-weight: bolder;
}

.card.header{
  background: none;
  padding: 10px 0;
}

.icons{
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  float: right;
  opacity: 1;
  border: 0;
  background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  box-shadow: rgba(20, 20, 20, 0.12) 0rem 0.25rem 0.375rem -0.0625rem, rgba(20, 20, 20, 0.07) 0rem 0.125rem 0.25rem -0.0625rem;
}
.icons_nav{
  width: 3rem;
  height: 3rem;
  margin-left: 10px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  float: right;
  opacity: 1;
  border: 0;
  font-size: 20px;
  color: #212529;
}

.card{
  background-clip: border-box;
  box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 0 !important;
}
.card .card-title{
  font-size: 12px;
  font-weight: bold;
  color: #555454;
}
.card-text{
  font-size: 11px;
}

.bg-info{
  background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
  color: white;
}

.card-body.bg-info{
  background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
  color: white;
  margin: 20px;
  border-radius: 5px;
}
.card-body.bg-warning{
  background: linear-gradient(310deg, rgb(255, 51, 33), rgb(253, 40, 33));
  color: white;
}

.img-thumbnail{
  width: 50px;
  height: 50px;
}

.img-thumbnail-small{
  padding: .15rem;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  width: 35px;
  height: 35px;
}

.thumbnail{
  /*width: 50px;*/
  /*height: 50px;*/
  font-size: 20px;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  text-align: center;
  color: #217bfb;
  padding: 0px 5px 3px 6px;

}

hr{
  margin: 0 !important;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: .15 !important;

}

table thead tr th {
  position: relative;
  text-align: left;
  opacity: 0.7;
  background: transparent;
  color: rgb(131, 146, 171);
  font-size: 0.65rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}